@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

body {
    background-color: cadetblue;
}

.profile-card {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 100vh;
    max-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.profile-card .card-section {
    background-color: bisque;
    border-radius: 25px;
    border: 2px solid black;
    min-height: 100vh;
    border-color: black;
    height: 100%;
    width: 555px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 4 10;
}

.profile-image {
    border-radius: 100%;
    margin-top: 25px;
    width: 50%;
    height: 250px;
}


.heading {
    margin-top: 10px;
    text-decoration: underline;
}


.seond-div {
    margin-top: 25px;
    border-radius: 10px;
    background-color: yellowgreen;
    height: 50px;
    width: 400px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.button {
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: orange;
    font-size: 20px;
}

#linkedin {
    color: white;
    width: 20px;
    height: 20px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

#toggle:checked ~ .profile-card {
    display: none;
}

#toggle ~ #x {
    display: none;
    visibility: visible;
}

#toggle ~ #y {
    visibility: hidden;
}